@charset "utf-8";


.pc_only{display:none;}
html.scrollDisable{height:100%;min-height:100%;overflow:hidden !important;touch-action:none;}

/* 1.6 Loader */
.loader{position:fixed;overflow:hidden;z-index:100;left:0;top:0;z-index:999;width:100%;height:100%;background:#fff;color:#fff;text-align:center;}
.loader .ani-loader{display:inline-block;width:150px;}


/*-------------------------------------------------------------------------------
	Header
-------------------------------------------------------------------------------*/
#header{position:absolute;top:0;left:0;z-index:13;width:100%;height:64px;padding:0 15px;background:#fff;border-bottom:1px solid rgba(0,0,0,0.1);}
/*#header:after{content:'';display:block;position:absolute;bottom:-1px;left:0;width:100%;height:1px;background:rgba(0,0,0,0.1);}*/
#header .header-container{width:100%;display:flex;align-items:center;justify-content:center;height:100%;font-size:21px;font-weight:400;}
#header #header-logo{font-size:0;margin-right:auto;}
#header #header-logo .logo{font-size:20px;color:#101010;display:inline-block;margin-top:0.2em;}
#header:not(.fixed-transparent) #header-logo .logo:hover .code{color:#285DE3}

#header a{color:inherit;}
#header a:hover{text-decoration:none;}

#header.scroll-fixed{position:fixed;top:-100px;left:0;width:100%;height:46px;background:rgba(255,255,255,0.95);border:0;box-shadow:0 7px 10px rgba(0,0,0,0.03);}
#header.scroll-fixed #header-logo .logo{font-size:16px;}

#headerSpace{height:64px;}
#header.scroll-fixed + #headerSpace{}


#header .nav-opener{margin-left:auto;}
#header .nav-opener:before{content:'\e901';font-family:'codeidea';font-size:22px;width:40px;height:50px;display:inline-flex;align-items:center;justify-content:center;}

#header #nav{position:fixed;top:0;right:-100%;z-index:14;width:100%;height:100%;padding:25px;background:rgba(92,129,244,0.9);display:flex;align-items:flex-start;justify-content:center;flex-direction:column;font-family:'Noto Sans KR', sans-serif;}
#header #nav .logo{position:absolute;top:18px;left:15px;z-index:3;font-size:20px;color:#fff;}
#header #nav .nav-closer{position:absolute;top:5px;right:15px;z-index:3;}
#header #nav .nav-closer:before{content:'\e007';font-family:'newfont';font-size:30px;width:40px;height:50px;color:#fff;display:inline-flex;align-items:center;justify-content:center;}
#header #nav ul{margin-bottom:80px;}
#header #nav ul li{position:relative;margin-bottom:20px;}
#header #nav ul li a{color:#fff;font-size:40px;display:inline-block;border-bottom:1px solid rgba(255,255,255,0.9);}
#header #nav ul li a:hover{background:#1a4abe;}
#header #nav .footer{position:absolute;bottom:70px;left:25px;z-index:3;font-size:15px;line-height:2em;color:#fff;}
#header #nav .footer .map{display:inline-flex;}
#header #nav .footer .map:before{content:'\e900';font-family:'codeidea';font-size:15px;margin-right:0.5em;}



/* ------------------------------------------------------------------------------- */
/*  10. Footer
/* ------------------------------------------------------------------------------- */

#footer{position:relative;padding:20px 15px;border-top:1px solid rgba(0,0,0,0.1);}
#footer .footer-container{font-size:14px;font-weight:300;font-family:'Noto Sans KR', sans-serif;line-height:1.5em;width:100%;display:flex;align-items:center;justify-content:center;}
#footer .footer-container .footerCon{flex:1;}




/* ------------------------------------------------------------------------------- */
/*  page-container
/* ------------------------------------------------------------------------------- */

.page-container{position:relative;font-size:16px;line-height:1.65;width:100%;word-break:keep-all;}
.page-container > *{margin-left:auto;margin-right:auto;text-align:center;}
.page-container p{word-break:keep-all;}
.page-container .relative{position:relative;}

.page-container .flex{display:flex;align-items:center;justify-content:center;}
.page-container .flex.column{flex-direction:column;}
.page-container .flex.between{justify-content:space-between;}
.page-container .flex1{flex:1;}
.page-container .flex-top{justify-content:flex-start;}
.page-container .flex-bottom{justify-content:flex-end;}
.page-container .flex-left{align-items:flex-start;}
.page-container .flex-right{align-items:flex-end;}
.page-container .stretch{align-items:stretch;}



/* ------------------------------------------------------------------------------- */
/*  #mainpage
/* ------------------------------------------------------------------------------- */
#mainpage{overflow:hidden;z-index:2;}
#mainpage .main-wrap{position:relative;}
#mainpage .ani-logo{max-width:320px;display:inline-block;}



.fixedCover{position:fixed;top:0;left:0;width:100%;height:100%;z-index:9;background:rgba(0,0,0,0.6);display:none;}

/* ------------------------------------------------------------------------------- */
/*  portfolio
/* ------------------------------------------------------------------------------- */

#portfolio{padding:15px 10px;}
	.portfolio-nav{position:fixed;bottom:20px;right:20px;z-index:11;}
	.portfolio-nav.open{z-index:33;}
	.portfolio-nav .toggle{position:relative;z-index:13;}
	.portfolio-nav .toggle:before{content:'\e151';font-family:'newfont';padding:0;width:52px;height:52px;background:var(--mainColor);box-shadow:2px 6px 6px rgba(0,0,0,0.1);color:#fff;font-size:30px;border-radius:50%;display:inline-flex;align-items:center;justify-content:center;}
	.portfolio-nav.open .toggle:before{content:'\e007';font-size:20px;padding-bottom:0.22em;}
	.portfolio-nav ul{position:absolute;bottom:0px;right:0;z-index:13;font-family:'Roboto', sans-serif;font-weight:bold;text-align:right;display:flex;align-items:flex-end;flex-direction:column;}
	.portfolio-nav li{position:absolute;right:0;bottom:0;opacity:0;font-size:60px;line-height:0.9em;transition:all 0.4s cubic-bezier(0.5,0,0,1.25);}
	.portfolio-nav li:nth-child(1){bottom:0em;}.portfolio-nav li:nth-child(2){bottom:1em;}.portfolio-nav li:nth-child(3){bottom:2em;}.portfolio-nav li:nth-child(4){bottom:3em;}.portfolio-nav li:nth-child(5){bottom:4em;}
	.portfolio-nav li:nth-child(6){bottom:6em;}.portfolio-nav li:nth-child(7){bottom:7em;}.portfolio-nav li:nth-child(8){bottom:8em;}.portfolio-nav li:nth-child(9){bottom:9em;}.portfolio-nav li:nth-child(10){bottom:10em;}
	.portfolio-nav.open li{opacity:1;}
	.portfolio-nav.open li:nth-child(1){bottom:1.2em;}.portfolio-nav.open li:nth-child(2){bottom:2.4em;}.portfolio-nav.open li:nth-child(3){bottom:3.6em;}.portfolio-nav.open li:nth-child(4){bottom:4.8em;}.portfolio-nav.open li:nth-child(5){bottom:6em;}
	.portfolio-nav.open li:nth-child(6){bottom:7.2em;}.portfolio-nav.open li:nth-child(7){bottom:8.4em;}.portfolio-nav.open li:nth-child(8){bottom:9.6em;}.portfolio-nav.open li:nth-child(9){bottom:10.8em;}.portfolio-nav.open li:nth-child(10){bottom:12em;}
	.portfolio-nav li span{display:inline-block;cursor:pointer;transition:all .3s ease-in-out;}
	.portfolio-nav li:not(.active):not(:hover) span{color:rgba(255,255,255,0);-webkit-text-stroke: calc(.005em + 0.5px) #fff;}
	.portfolio-nav li.active{color:#4a8aff}
	.portfolio-nav li:not(.active):hover span{color:#fff}

	.portfolioContainer{position:relative;width:100%;}
	.portfolioContainer ul{position:relative;width:100%;}
	.portfolioContainer ul:after{display:block;visibility:hidden;clear:both;content:""}
	.portfolioContainer ul li{position:relative;float:left;width:50%;display:inline-flex;align-items:center;justify-content:center;}
	.portfolioContainer ul li .tag{position:absolute;top:-2px;z-index:9;display:inline-flex;align-items:center;justify-content:center;padding:0 12px;height:24px;border-radius:20px;background:rgba(240,17,17,0.8);color:#fff;
		font-size:12px;font-weight:500;font-family:'Noto Sans KR', sans-serif;transition:all .2s ease-in-out;}
	.portfolioContainer ul li:hover .tag{top:10px;}
	.portfolioContainer ul li a{display:block;position:relative;padding:10px;}
	.portfolioContainer ul li a:before{content:'';position:absolute;top:0;left:0;z-index:6;width:100%;height:100%;border:10px solid #fff;transition:all 0.3s cubic-bezier(0.5,0,0,1.25);}
	.portfolioContainer ul li a:hover:before{border-width:24px;}
	.portfolioContainer ul li a .thumb{position:relative;overflow:hidden;}
	.portfolioContainer ul li a .thumb img{transition:all .4s ease-in-out;}
	.portfolioContainer ul li a:hover .thumb img{transform:scale(1.1);}
	.portfolioContainer ul li:nth-child(2n + 1){clear:both;}





/* ------------------------------------------------------------------------------- */
/*  portfolio-view
/* ------------------------------------------------------------------------------- */

#header.fixed-transparent{background:transparent;border:0;}
#header.fixed-transparent.scroll-fixed{background:rgba(255,255,255,0.95);}
#header.fixed-transparent:not(.scroll-fixed) #header-logo .logo{color:#fff;}
#header.fixed-transparent:not(.scroll-fixed) .nav-opener:before{color:#fff;}

#header.fixed-transparent + #headerSpace{display:none;height:0;}

#portfolio-view{}
#portfolio-view .block.view-header{position:relative;padding:0;}
#portfolio-view .block.view-header .con{position:absolute;top:0;left:0;z-index:3;width:100%;height:100%;padding:15px;display:flex;align-items:center;justify-content:center;flex-direction:column;text-align:center;}
#portfolio-view .block.view-header .cover{position:absolute;top:0;left:0;z-index:1;width:100%;height:100%;background-color:#0A1474;opacity:0.9}

#portfolio-view .block{position:relative;padding:35px 20px;font-size:16px;font-weight:400;}
#portfolio-view .block .con{margin-left:auto;margin-right:auto;}
#portfolio-view .light{color:#fff;}

#portfolio-view .gotoSite{margin-top:20px;display:inline-block;border-bottom:1px solid var(--mainColor);font-family:'Roboto', sans-serif;padding:3px 0;font-size:20px;line-height:1em;color:var(--mainColor);transition:all .2s ease-in-out;}
#portfolio-view .gotoSite:before{content:'';position:absolute;top:0;left:0;width:1px;height:100%;background:#2A62E1;transition:all 0.2s cubic-bezier(0.5,0,0,1.25);z-index:-1}
#portfolio-view .gotoSite:hover{color:#fff;}
#portfolio-view .gotoSite:hover:before{width:100%;}

#portfolio-view .return{margin-top:40px;font-family:'Roboto', sans-serif;padding:0 20px;height:46px;font-size:16px;color:#fff;background:var(--mainColor);border-radius:40px;display:inline-flex;align-items:center;justify-content:center;transition:all .2s ease-in-out;}
#portfolio-view .return:before{content:'\e2b6';font-family:'newfont';font-size:17px;margin-right:10px;}
#portfolio-view .return:hover{background:#292b33}

#portfolio-view .light .return{color:#fff;background:transparent;border:2px solid #fff;}
#portfolio-view .light .return:hover{background:#fff;color:#333333}









/* ------------------------------------------------------------------------------- */
/*  write
/* ------------------------------------------------------------------------------- */
#write{position:relative;margin:0 auto;width:100%;padding:0 20px;text-align:left;margin-bottom:120px;}
#write .visual-img{max-width:340px;margin:40px auto;}

#write .write-title{margin-top:120px;margin-bottom:60px;}

.wr-wrap{position:relative;margin-top:0;margin-bottom:50px;}
.wr-wrap .wr-list{position:relative;width:100%;text-align:left;}
.wr-wrap .wr-list:not(first-child){margin-top:45px;}
.wr-wrap .flex-row{}
.wr-wrap .flex-row + .flex-row{margin-top:30px;}

.wr-wrap .wr-head{font-size:19px;font-weight:500;font-family:'NanumSquare', sans-serif;text-align:left;display:block;margin-bottom:20px;}
.wr-wrap .wr-list-con{width:100%;text-align:left;position:relative;}
.wr-wrap .wr-list-con + .wr-list-con{margin-top:20px;}
.wr-wrap .wr-list-con:after{display:block;visibility:hidden;clear:both;content:""}
.wr-wrap .wr-list-con.flex{display:inline-flex;align-items:center;justify-content:flex-start;}
.wr-wrap .wr-list-con .label{font-size:17px;font-weight:400;font-family:'NanumSquare', sans-serif;text-align:left;display:block;margin-bottom:6px;}
.wr-wrap .wr-list-con .label.required:after{content:'*';color:#255DE5}
.wr-wrap .wr-list-con textarea{font-size:15px;line-height:1.5em;}

.wr-wrap .wr-list-con label.checkbox-btn{float:left;width:calc(33.33% - 7px);margin-right:10px;margin-bottom:15px;}
.wr-wrap .wr-list-con label.checkbox-btn input[type="checkbox"] + span{max-width:100%;font-size:15px;}
.wr-wrap .wr-list-con label.checkbox-btn:nth-child(3n){margin-right:0;}
.wr-wrap .wr-list-con label.checkbox-btn:nth-child(3n + 1){clear:both;}

.label100 .wr-list-label{width:100px;} .label110 .wr-list-label{width:110px;} .label120 .wr-list-label{width:120px;} .label130 .wr-list-label{width:130px;} .label140 .wr-list-label{width:140px;} .label150 .wr-list-label{width:150px;}
.label160 .wr-list-label{width:160px;} .label170 .wr-list-label{width:170px;} .label180 .wr-list-label{width:180px;} .label190 .wr-list-label{width:190px;} .label200 .wr-list-label{width:200px;}
.label210 .wr-list-label{width:210px;} .label220 .wr-list-label{width:220px;} .label230 .wr-list-label{width:230px;} .label240 .wr-list-label{width:240px;} .label250 .wr-list-label{width:250px;}
.label260 .wr-list-label{width:260px;} .label270 .wr-list-label{width:270px;} .label280 .wr-list-label{width:280px;} .label290 .wr-list-label{width:290px;} .label300 .wr-list-label{width:300px;}

.btnSet{display:flex;align-items:center;justify-content:center;margin-top:50px;text-align:center;}



.wr-wrap input:not([type="checkbox"]):not([type="radio"]):not(.search), select{font-size:15px;height:56px;}
.wr-wrap .filebox .upload-name{font-size:13px !important;}
.wr-wrap .filebox label.upload-btn{width:60px;}
.wr-wrap .filebox label.upload-btn:before{font-size:18px;}






/* ------------------------------------------------------------------------------- */
/*  LAYER POPUP
/* ------------------------------------------------------------------------------- */
* {transition:filter;}
.mfp-bg.my-mfp-popup {background: rgba(0,0,0,0.8);}
.mfp-wrap:not(.my-mfp-popup) ~ *:not(.nicescroll-rails) {filter:blur(3px);}
.mfp-wrap .mfp-container{padding:0 10px;}
.mfp-wrap .mfp-content{position:relative;margin:0;width:auto;max-width:100%;}
button.mfp-close{position:fixed;right:10px;top:10px;z-index:999;text-align:center;font-size:0px;transition:all .2s ease-in-out;}
button.mfp-close:before{content:'\e007';font-family:'newfont';color:#fff;font-size:20px;width:40px;height:40px;border-radius:3px;padding-bottom:0.15em;background:rgba(0,0,0,0.3);display:inline-flex;align-items:center;justify-content:center;}
button.mfp-close:hover, .button.mfp-close:focus{opacity:1;}
.mfp-container .mfp-arrow{position:fixed;opacity:0.65;margin:0;top:50%;margin-top:-55px;padding:0;width:90px;height:110px;-webkit-tap-highlight-color:transparent;transition:all .15s ease-in-out;}
.mfp-container .mfp-arrow.mfp-arrow-left{left:0;}
.mfp-container .mfp-arrow.mfp-arrow-right{right:0;}
.mfp-container .mfp-arrow:active{margin-top:-53px;}
.mfp-container .mfp-arrow:hover{opacity:1;}
.mfp-container .mfp-arrow:before{content:'';font-family:'newfont';font-size:54px;color:#fff;display:inline-block;transition:all 0.4s cubic-bezier(0.1, 0.25, 0, 1.8);text-shadow:0 4px 2px rgba(0,0,0,0.2);}
.mfp-container .mfp-arrow.mfp-arrow-left:before{content:'\e00f';margin-left:-10px;}
.mfp-container .mfp-arrow.mfp-arrow-right:before{content:'\e010';margin-right:-10px;}
.mfp-container .mfp-arrow.mfp-arrow-left:hover:before{margin-left:-25px;}
.mfp-container .mfp-arrow.mfp-arrow-right:hover:before{margin-right:-25px;}

.layerPopup{margin:10px auto;width:auto;border-radius:3px;overflow:hidden;font-family:'NanumSquare', sans-serif;}
.layerPopup .popContainer{position:relative;font-size:16px;line-height:1.6em;background:#fff;border-radius:4px;}

.layerPopup .pop-header{position:relative;}
.layerPopup .pop-header .cover{position:absolute;top:0;left:0;z-index:1;width:100%;height:100%;background-color:#0A1474;opacity:0.9}
.layerPopup .pop-header .phCon{position:absolute;top:0;left:0;z-index:3;width:100%;height:100%;padding:20px;display:flex;align-items:center;justify-content:center;flex-direction:column;text-align:center;color:#fff;}
.layerPopup .pop-header .phCon .subject{font-size:32px;font-family:'Black Han Sans';}
.layerPopup .pop-header .subject + .con{margin-top:15px;}
.layerPopup .pop-header .subject + .con:before{content:'';display:block;width:1px;height:30px;background:rgba(255,255,255,0.7);margin:0 auto;margin-bottom:20px;}

.layerPopup .pop-body{padding:20px;}
.layerPopup .pop-body .pbCon .subject{position:relative;z-index:3;font-family:'NanumSquare', sans-serif;font-size:25px;font-weight:600;line-height:1.2em;}
.layerPopup .pop-body .pbCon .con{position:relative;z-index:3;}
.layerPopup .pop-body .pbCon .subject + * {margin-top:20px;}
.layerPopup .pop-body .pbCon + * {margin-top:20px;}







/*──────────────── Margin ────────────────*/
.mmt1{margin-top:1px !important;} .mmt2{margin-top:2px !important;} .mmt3{margin-top:3px !important;} .mmt4{margin-top:4px !important;} .mmt5{margin-top:5px !important;}
.mmt6{margin-top:6px !important;} .mmt7{margin-top:7px !important;} .mmt8{margin-top:8px !important;} .mmt9{margin-top:9px !important;}
.mmt10{margin-top:10px !important;} .mmt15{margin-top:15px !important;} .mmt20{margin-top:20px !important;} .mmt25{margin-top:25px !important;} .mmt30{margin-top:30px !important;}
.mmt35{margin-top:35px !important;} .mmt40{margin-top:40px !important;} .mmt45{margin-top:45px !important;} .mmt50{margin-top:50px !important;} .mmt55{margin-top:55px !important;} .mmt60{margin-top:60px !important;}
.mmt65{margin-top:65px !important;} .mmt70{margin-top:70px !important;} .mmt75{margin-top:75px !important;} .mmt80{margin-top:80px !important;}
.mmt85{margin-top:85px !important;} .mmt90{margin-top:90px !important;} .mmt95{margin-top:95px !important;} .mmt100{margin-top:100px !important;}
.mmt110{margin-top:110px !important;} .mmt115{margin-top:115px !important;} .mmt120{margin-top:120px !important;} .mmt125{margin-top:125px !important;} .mmt130{margin-top:130px !important;}
.mmt135{margin-top:1135px !important;} .mmt140{margin-top:140px !important;} .mmt145{margin-top:145px !important;} .mmt150{margin-top:150px !important;} .mmt155{margin-top:155px !important;} .mmt160{margin-top:160px !important;}
.mmt165{margin-top:165px !important;} .mmt170{margin-top:170px !important;} .mmt175{margin-top:175px !important;} .mmt180{margin-top:180px !important;}
.mmt185{margin-top:185px !important;} .mmt190{margin-top:190px !important;} .mmt195{margin-top:195px !important;} .mmt200{margin-top:200px !important;}
.mmr5{margin-right:5px !important;} .mmr10{margin-right:10px !important;} .mmr15{margin-right:15px !important;} .mmr20{margin-right:20px !important;} .mmr25{margin-right:25px !important;} .mmr30{margin-right:30px !important;}
.mmr35{margin-right:35px !important;} .mmr40{margin-right:40px !important;} .mmr45{margin-right:45px !important;} .mmr50{margin-right:50px !important;} .mmr55{margin-right:55px !important;} .mmr60{margin-right:60px !important;}
.mmr65{margin-right:65px !important;} .mmr70{margin-right:70px !important;} .mmr75{margin-right:75px !important;} .mmr80{margin-right:80px !important;} .mmr85{margin-right:85px !important;}
.mmr90{margin-right:90px !important;} .mmr95{margin-right:95px !important;} .mmr100{margin-right:100px !important;}
.mmr105{margin-right:105px !important;} .mmr110{margin-right:110px !important;} .mmr115{margin-right:115px !important;} .mmr120{margin-right:120px !important;} .mmr125{margin-right:125px !important;} .mmr130{margin-right:130px !important;}
.mmr135{margin-right:135px !important;} .mmr140{margin-right:140px !important;} .mmr145{margin-right:145px !important;} .mmr150{margin-right:150px !important;} .mmr155{margin-right:155px !important;} .mmr160{margin-right:160px !important;}
.mmr165{margin-right:165px !important;} .mmr170{margin-right:170px !important;} .mmr175{margin-right:175px !important;} .mmr180{margin-right:180px !important;} .mmr185{margin-right:185px !important;}
.mmr190{margin-right:190px !important;} .mmr195{margin-right:195px !important;} .mmr200{margin-right:200px !important;}
.mml5{margin-left:5px !important;} .mml10{margin-left:10px !important;} .mml15{margin-left:15px !important;} .mml20{margin-left:20px !important;} .mml25{margin-left:25px !important;} .mml30{margin-left:30px !important;}
.mml35{margin-left:35px !important;} .mml40{margin-left:40px !important;} .mml45{margin-left:45px !important;} .mml50{margin-left:50px !important;} .mml55{margin-left:55px !important;} .mml60{margin-left:60px !important;}
.mml65{margin-left:65px !important;} .mml70{margin-left:70px !important;} .mml75{margin-left:75px !important;} .mml80{margin-left:80px !important;} .mml85{margin-left:85px !important;}
.mml90{margin-left:90px !important;} .mml95{margin-left:95px !important;} .mml100{margin-left:100px !important;}
.mml105{margin-left:105px !important;} .mml110{margin-left:110px !important;} .mml115{margin-left:115px !important;} .mml120{margin-left:120px !important;} .mml125{margin-left:125px !important;} .mml130{margin-left:130px !important;}
.mml135{margin-left:135px !important;} .mml140{margin-left:140px !important;} .mml145{margin-left:145px !important;} .mml150{margin-left:150px !important;} .mml155{margin-left:155px !important;} .mml160{margin-left:160px !important;}
.mml165{margin-left:165px !important;} .mml170{margin-left:170px !important;} .mml175{margin-left:175px !important;} .mml180{margin-left:180px !important;} .mml185{margin-left:185px !important;}
.mml190{margin-left:190px !important;} .mml195{margin-left:195px !important;} .mml200{margin-left:200px !important;}
.mmb5{margin-bottom:5px !important;} .mmb10{margin-bottom:10px !important;} .mmb15{margin-bottom:15px !important;} .mmb20{margin-bottom:20px !important;} .mmb25{margin-bottom:25px !important;} .mmb30{margin-bottom:30px !important;}
.mmb35{margin-bottom:35px !important;} .mmb40{margin-bottom:40px !important;} .mmb45{margin-bottom:45px !important;} .mmb50{margin-bottom:50px !important;} .mmb55{margin-bottom:55px !important;} .mmb60{margin-bottom:60px !important;}
.mmb65{margin-bottom:65px !important;} .mmb70{margin-bottom:70px !important;} .mmb75{margin-bottom:75px !important;} .mmb80{margin-bottom:80px !important;} .mmb85{margin-bottom:85px !important;}
.mmb90{margin-bottom:90px !important;} .mmb95{margin-bottom:95px !important;} .mmb100{margin-bottom:100px !important;}
.mmt0{margin-top:0 !important}.mmb0{margin-bottom:0 !important}.mml0{margin-left:0 !important}.mmr0{margin-right:0 !important}


/*──────────────── span :Width ────────────────*/
.mspan{width:100%;}
.mspan10{width:10px;} .mspan20{width:20px;} .mspan30{width:30px;} .mspan40{width:40px;} .mspan50{width:50px;} .mspan60{width:60px;} .mspan70{width:70px;} .mspan80{width:80px;} .mspan90{width:90px;}
.mspan100{width:100px;} .mspan110{width:110px;} .mspan120{width:120px;} .mspan130{width:130px;} .mspan140{width:140px;} .mspan150{width:150px;} .mspan160{width:160px;} .mspan170{width:170px;} .mspan180{width:180px;} .mspan190{width:190px;}
.mspan200{width:200px;} .mspan210{width:210px;} .mspan220{width:220px;} .mspan230{width:230px;} .mspan240{width:240px;} .mspan250{width:250px;} .mspan260{width:260px;} .mspan270{width:270px;} .mspan280{width:280px;} .mspan290{width:290px;}
.mspan300{width:300px;} .mspan310{width:310px;} .mspan320{width:320px;} .mspan330{width:330px;} .mspan340{width:340px;} .mspan350{width:350px;} .mspan360{width:360px;} .mspan370{width:370px;} .mspan380{width:380px;} .mspan390{width:390px;}
.mspan400{width:400px;} .mspan410{width:410px;} .mspan420{width:420px;} .mspan430{width:430px;} .mspan440{width:440px;} .mspan450{width:450px;} .mspan460{width:460px;} .mspan470{width:470px;} .mspan480{width:480px;} .mspan490{width:490px;}
.mspan500{width:500px;} .mspan510{width:510px;} .mspan520{width:520px;} .mspan530{width:530px;} .mspan540{width:540px;} .mspan550{width:550px;} .mspan560{width:560px;} .mspan570{width:570px;} .mspan580{width:580px;} .mspan590{width:590px;}
.mspan600{width:600px;} .mspan610{width:610px;} .mspan620{width:620px;} .mspan630{width:630px;} .mspan640{width:640px;} .mspan650{width:650px;} .mspan660{width:660px;} .mspan670{width:670px;} .mspan680{width:680px;} .mspan690{width:690px;}
.mspan700{width:700px;} .mspan710{width:710px;} .mspan720{width:720px;} .mspan730{width:730px;} .mspan740{width:740px;} .mspan750{width:750px;} .mspan760{width:760px;} .mspan770{width:770px;} .mspan780{width:780px;} .mspan790{width:790px;}
.mspan800{width:800px;} .mspan810{width:810px;} .mspan820{width:820px;} .mspan830{width:830px;} .mspan840{width:840px;} .mspan850{width:850px;} .mspan860{width:860px;} .mspan870{width:870px;} .mspan880{width:880px;} .mspan890{width:890px;}
.mspan900{width:900px;} .mspan910{width:910px;} .mspan920{width:920px;} .mspan930{width:930px;} .mspan940{width:940px;} .mspan950{width:950px;} .mspan960{width:960px;} .mspan970{width:970px;} .mspan980{width:980px;} .mspan990{width:990px;}
.mspan5{width:5px;} .mspan15{width:15px;} .mspan25{width:25px;} .mspan35{width:35px;} .mspan45{width:45px;} .mspan55{width:55px;} .mspan65{width:65px;} .mspan75{width:75px;} .mspan85{width:85px;} .mspan95{width:95px;}
.mspan105{width:105px;} .mspan115{width:115px;} .mspan125{width:125px;} .mspan135{width:135px;} .mspan145{width:145px;} .mspan155{width:155px;} .mspan165{width:165px;} .mspan175{width:175px;} .mspan185{width:185px;} .mspan195{width:195px;}
.mspan205{width:205px;} .mspan215{width:215px;} .mspan225{width:225px;} .mspan235{width:235px;} .mspan245{width:245px;} .mspan255{width:255px;} .mspan265{width:265px;} .mspan275{width:275px;} .mspan285{width:285px;} .mspan295{width:295px;}
.mspan305{width:305px;} .mspan315{width:315px;} .mspan325{width:325px;} .mspan335{width:335px;} .mspan345{width:345px;} .mspan355{width:355px;} .mspan365{width:365px;} .mspan375{width:375px;} .mspan385{width:385px;} .mspan395{width:395px;}
.mspan405{width:405px;} .mspan415{width:415px;} .mspan425{width:425px;} .mspan435{width:435px;} .mspan445{width:445px;} .mspan455{width:455px;} .mspan465{width:465px;} .mspan475{width:475px;} .mspan485{width:485px;} .mspan495{width:495px;}
.mspan505{width:505px;} .mspan515{width:515px;} .mspan525{width:525px;} .mspan535{width:535px;} .mspan545{width:545px;} .mspan555{width:555px;} .mspan565{width:565px;} .mspan575{width:575px;} .mspan585{width:585px;} .mspan595{width:595px;}
.mspan605{width:605px;} .mspan615{width:615px;} .mspan625{width:625px;} .mspan635{width:635px;} .mspan645{width:645px;} .mspan655{width:655px;} .mspan665{width:665px;} .mspan675{width:675px;} .mspan685{width:685px;} .mspan695{width:695px;}
.mspan705{width:705px;} .mspan715{width:715px;} .mspan725{width:725px;} .mspan735{width:735px;} .mspan745{width:745px;} .mspan755{width:755px;} .mspan765{width:765px;} .mspan775{width:775px;} .mspan785{width:785px;} .mspan795{width:795px;}
.mspan805{width:805px;} .mspan815{width:815px;} .mspan825{width:825px;} .mspan835{width:835px;} .mspan845{width:845px;} .mspan855{width:855px;} .mspan865{width:865px;} .mspan875{width:875px;} .mspan885{width:885px;} .mspan895{width:895px;}
.mspan905{width:905px;} .mspan915{width:915px;} .mspan925{width:925px;} .mspan935{width:935px;} .mspan945{width:945px;} .mspan955{width:955px;} .mspan965{width:965px;} .mspan975{width:975px;} .mspan985{width:985px;} .mspan995{width:995px;}


/*──────────────── font-size (모바일 별도 설정)────────────────*/
.mfs12{font-size:12px}.mfs13{font-size:13px}.mfs14{font-size:14px}.mfs15{font-size:15px}.mfs16{font-size:16px}.mfs17{font-size:17px}.mfs18{font-size:18px}.mfs19{font-size:19px}.mfs20{font-size:20px}
.mfs21{font-size:21px}.mfs22{font-size:22px}.mfs23{font-size:23px}.mfs24{font-size:24px}.mfs25{font-size:25px}.mfs26{font-size:26px}.mfs27{font-size:27px}.mfs28{font-size:28px}.mfs29{font-size:29px}.mfs30{font-size:30px}
.mfs31{font-size:31px}.mfs32{font-size:32px}.mfs33{font-size:33px}.mfs34{font-size:34px}.mfs35{font-size:35px}.mfs36{font-size:36px}.mfs37{font-size:37px}.mfs38{font-size:38px}.mfs39{font-size:39px}.mfs40{font-size:40px}
.mfs41{font-size:41px}.mfs42{font-size:42px}.mfs43{font-size:43px}.mfs44{font-size:44px}.mfs45{font-size:45px}.mfs46{font-size:46px}.mfs47{font-size:47px}.mfs48{font-size:48px}.mfs49{font-size:49px}.mfs50{font-size:50px}
.mfs51{font-size:51px}.mfs52{font-size:52px}.mfs53{font-size:53px}.mfs54{font-size:54px}.mfs55{font-size:55px}.mfs56{font-size:56px}.mfs57{font-size:57px}.mfs58{font-size:58px}.mfs59{font-size:59px}.mfs60{font-size:60px}
.mfs61{font-size:61px}.mfs62{font-size:62px}.mfs63{font-size:63px}.mfs64{font-size:64px}.mfs65{font-size:65px}.mfs66{font-size:66px}.mfs67{font-size:67px}.mfs68{font-size:68px}.mfs69{font-size:69px}.mfs70{font-size:70px}
.mfs71{font-size:71px}.mfs72{font-size:72px}.mfs73{font-size:73px}.mfs74{font-size:74px}.mfs75{font-size:75px}.mfs76{font-size:77px}.mfs76{font-size:77px}.mfs78{font-size:78px}.mfs79{font-size:79px}.mfs80{font-size:80px}
.mfs81{font-size:81px}.mfs82{font-size:82px}.mfs83{font-size:83px}.mfs84{font-size:84px}.mfs85{font-size:85px}.mfs86{font-size:86px}.mfs87{font-size:87px}.mfs88{font-size:88px}.mfs89{font-size:89px}.mfs90{font-size:90px}
.mfs91{font-size:91px}.mfs92{font-size:92px}.mfs93{font-size:93px}.mfs94{font-size:94px}.mfs95{font-size:95px}.mfs96{font-size:96px}.mfs97{font-size:97px}.mfs98{font-size:98px}.mfs99{font-size:99px}.mfs100{font-size:100px}
.mfs110{font-size:110px}.mfs120{font-size:120px}.mfs130{font-size:130px}.mfs140{font-size:140px}.mfs150{font-size:150px}