@charset "utf-8";

html,h1,h2,h3,h4,h5,h6,form,fieldset,img{margin:0;padding:0;border:0;}
h1,h2,h3,h4,h5,h6{font-size:1em;margin:0;padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
#hd ul,nav ul,#ft ul{margin:0;padding:0;list-style:none}
legend{position:absolute;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}
label,input,button,select,img{vertical-align:middle;}
input,button{margin:0;padding:0;font-size:1em}
button{cursor:pointer}
input[type=text],input[type=password],input[type=submit],input[type=image],button{border:0;-webkit-appearance:none}
textarea,select{font-size:1em;}
textarea{-webkit-appearance:none;-webkit-overflow-scrolling:touch;width:100%;}
select{margin:0}
p{margin:0;padding:0;word-break:break-all}
hr{width:100%;height:1px;background-color:rgba(0,0,0,0.12);border:none;}
pre{overflow-x:scroll;font-size:1.1em}
ul,li{margin:0;padding:0;list-style:none;}
table,tr,th,td{border-collapse:collapse;border-spacing:0;}
body{/*-webkit-user-select:none;*/-webkit-tap-highlight-color:rgba(0,0,0,0);padding:0;margin:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-text-size-adjust:none;/*피봇시 글자커짐 방지 */-webkit-overflow-scrolling:touch;}
*:before{font-weight:normal;}
a{color:#090909;color:inherit;}
a:link,a:visited{text-decoration:none}
a:focus, textarea:focus, select:focus, input:focus, button:focus{outline:0;}
a:hover,a:focus,a:active{text-decoration:none}
img{max-width:100%;}


/*──────────────── Margin ────────────────*/
.mt1{margin-top:1px !important;} .mt2{margin-top:2px !important;} .mt3{margin-top:3px !important;} .mt4{margin-top:4px !important;} .mt5{margin-top:5px !important;}
.mt6{margin-top:6px !important;} .mt7{margin-top:7px !important;} .mt8{margin-top:8px !important;} .mt9{margin-top:9px !important;}
.mt10{margin-top:10px !important;} .mt15{margin-top:15px !important;} .mt20{margin-top:20px !important;} .mt25{margin-top:25px !important;} .mt30{margin-top:30px !important;}
.mt35{margin-top:35px !important;} .mt40{margin-top:40px !important;} .mt45{margin-top:45px !important;} .mt50{margin-top:50px !important;} .mt55{margin-top:55px !important;} .mt60{margin-top:60px !important;}
.mt65{margin-top:65px !important;} .mt70{margin-top:70px !important;} .mt75{margin-top:75px !important;} .mt80{margin-top:80px !important;}
.mt85{margin-top:85px !important;} .mt90{margin-top:90px !important;} .mt95{margin-top:95px !important;} .mt100{margin-top:100px !important;}
.mt110{margin-top:110px !important;} .mt115{margin-top:115px !important;} .mt120{margin-top:120px !important;} .mt125{margin-top:125px !important;} .mt130{margin-top:130px !important;}
.mt135{margin-top:1135px !important;} .mt140{margin-top:140px !important;} .mt145{margin-top:145px !important;} .mt150{margin-top:150px !important;} .mt155{margin-top:155px !important;} .mt160{margin-top:160px !important;}
.mt165{margin-top:165px !important;} .mt170{margin-top:170px !important;} .mt175{margin-top:175px !important;} .mt180{margin-top:180px !important;}
.mt185{margin-top:185px !important;} .mt190{margin-top:190px !important;} .mt195{margin-top:195px !important;} .mt200{margin-top:200px !important;}
.mr5{margin-right:5px !important;} .mr10{margin-right:10px !important;} .mr15{margin-right:15px !important;} .mr20{margin-right:20px !important;} .mr25{margin-right:25px !important;} .mr30{margin-right:30px !important;}
.mr35{margin-right:35px !important;} .mr40{margin-right:40px !important;} .mr45{margin-right:45px !important;} .mr50{margin-right:50px !important;} .mr55{margin-right:55px !important;} .mr60{margin-right:60px !important;}
.mr65{margin-right:65px !important;} .mr70{margin-right:70px !important;} .mr75{margin-right:75px !important;} .mr80{margin-right:80px !important;} .mr85{margin-right:85px !important;}
.mr90{margin-right:90px !important;} .mr95{margin-right:95px !important;} .mr100{margin-right:100px !important;}
.mr105{margin-right:105px !important;} .mr110{margin-right:110px !important;} .mr115{margin-right:115px !important;} .mr120{margin-right:120px !important;} .mr125{margin-right:125px !important;} .mr130{margin-right:130px !important;}
.mr135{margin-right:135px !important;} .mr140{margin-right:140px !important;} .mr145{margin-right:145px !important;} .mr150{margin-right:150px !important;} .mr155{margin-right:155px !important;} .mr160{margin-right:160px !important;}
.mr165{margin-right:165px !important;} .mr170{margin-right:170px !important;} .mr175{margin-right:175px !important;} .mr180{margin-right:180px !important;} .mr185{margin-right:185px !important;}
.mr190{margin-right:190px !important;} .mr195{margin-right:195px !important;} .mr200{margin-right:200px !important;}
.ml5{margin-left:5px !important;} .ml10{margin-left:10px !important;} .ml15{margin-left:15px !important;} .ml20{margin-left:20px !important;} .ml25{margin-left:25px !important;} .ml30{margin-left:30px !important;}
.ml35{margin-left:35px !important;} .ml40{margin-left:40px !important;} .ml45{margin-left:45px !important;} .ml50{margin-left:50px !important;} .ml55{margin-left:55px !important;} .ml60{margin-left:60px !important;}
.ml65{margin-left:65px !important;} .ml70{margin-left:70px !important;} .ml75{margin-left:75px !important;} .ml80{margin-left:80px !important;} .ml85{margin-left:85px !important;}
.ml90{margin-left:90px !important;} .ml95{margin-left:95px !important;} .ml100{margin-left:100px !important;}
.ml105{margin-left:105px !important;} .ml110{margin-left:110px !important;} .ml115{margin-left:115px !important;} .ml120{margin-left:120px !important;} .ml125{margin-left:125px !important;} .ml130{margin-left:130px !important;}
.ml135{margin-left:135px !important;} .ml140{margin-left:140px !important;} .ml145{margin-left:145px !important;} .ml150{margin-left:150px !important;} .ml155{margin-left:155px !important;} .ml160{margin-left:160px !important;}
.ml165{margin-left:165px !important;} .ml170{margin-left:170px !important;} .ml175{margin-left:175px !important;} .ml180{margin-left:180px !important;} .ml185{margin-left:185px !important;}
.ml190{margin-left:190px !important;} .ml195{margin-left:195px !important;} .ml200{margin-left:200px !important;}
.mb5{margin-bottom:5px !important;} .mb10{margin-bottom:10px !important;} .mb15{margin-bottom:15px !important;} .mb20{margin-bottom:20px !important;} .mb25{margin-bottom:25px !important;} .mb30{margin-bottom:30px !important;}
.mb35{margin-bottom:35px !important;} .mb40{margin-bottom:40px !important;} .mb45{margin-bottom:45px !important;} .mb50{margin-bottom:50px !important;} .mb55{margin-bottom:55px !important;} .mb60{margin-bottom:60px !important;}
.mb65{margin-bottom:65px !important;} .mb70{margin-bottom:70px !important;} .mb75{margin-bottom:75px !important;} .mb80{margin-bottom:80px !important;} .mb85{margin-bottom:85px !important;}
.mb90{margin-bottom:90px !important;} .mb95{margin-bottom:95px !important;} .mb100{margin-bottom:100px !important;}


/*──────────────── span :Width ────────────────*/
[class*="span"], [class^="span"]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;display:inline-block;position:relative;}
.span{width:100%;}
.span10{width:10px;} .span20{width:20px;} .span30{width:30px;} .span40{width:40px;} .span50{width:50px;} .span60{width:60px;} .span70{width:70px;} .span80{width:80px;} .span90{width:90px;}
.span100{width:100px;} .span110{width:110px;} .span120{width:120px;} .span130{width:130px;} .span140{width:140px;} .span150{width:150px;} .span160{width:160px;} .span170{width:170px;} .span180{width:180px;} .span190{width:190px;}
.span200{width:200px;} .span210{width:210px;} .span220{width:220px;} .span230{width:230px;} .span240{width:240px;} .span250{width:250px;} .span260{width:260px;} .span270{width:270px;} .span280{width:280px;} .span290{width:290px;}
.span300{width:300px;} .span310{width:310px;} .span320{width:320px;} .span330{width:330px;} .span340{width:340px;} .span350{width:350px;} .span360{width:360px;} .span370{width:370px;} .span380{width:380px;} .span390{width:390px;}
.span400{width:400px;} .span410{width:410px;} .span420{width:420px;} .span430{width:430px;} .span440{width:440px;} .span450{width:450px;} .span460{width:460px;} .span470{width:470px;} .span480{width:480px;} .span490{width:490px;}
.span500{width:500px;} .span510{width:510px;} .span520{width:520px;} .span530{width:530px;} .span540{width:540px;} .span550{width:550px;} .span560{width:560px;} .span570{width:570px;} .span580{width:580px;} .span590{width:590px;}
.span600{width:600px;} .span610{width:610px;} .span620{width:620px;} .span630{width:630px;} .span640{width:640px;} .span650{width:650px;} .span660{width:660px;} .span670{width:670px;} .span680{width:680px;} .span690{width:690px;}
.span700{width:700px;} .span710{width:710px;} .span720{width:720px;} .span730{width:730px;} .span740{width:740px;} .span750{width:750px;} .span760{width:760px;} .span770{width:770px;} .span780{width:780px;} .span790{width:790px;}
.span800{width:800px;} .span810{width:810px;} .span820{width:820px;} .span830{width:830px;} .span840{width:840px;} .span850{width:850px;} .span860{width:860px;} .span870{width:870px;} .span880{width:880px;} .span890{width:890px;}
.span900{width:900px;} .span910{width:910px;} .span920{width:920px;} .span930{width:930px;} .span940{width:940px;} .span950{width:950px;} .span960{width:960px;} .span970{width:970px;} .span980{width:980px;} .span990{width:990px;}
.span5{width:5px;} .span15{width:15px;} .span25{width:25px;} .span35{width:35px;} .span45{width:45px;} .span55{width:55px;} .span65{width:65px;} .span75{width:75px;} .span85{width:85px;} .span95{width:95px;}
.span105{width:105px;} .span115{width:115px;} .span125{width:125px;} .span135{width:135px;} .span145{width:145px;} .span155{width:155px;} .span165{width:165px;} .span175{width:175px;} .span185{width:185px;} .span195{width:195px;}
.span205{width:205px;} .span215{width:215px;} .span225{width:225px;} .span235{width:235px;} .span245{width:245px;} .span255{width:255px;} .span265{width:265px;} .span275{width:275px;} .span285{width:285px;} .span295{width:295px;}
.span305{width:305px;} .span315{width:315px;} .span325{width:325px;} .span335{width:335px;} .span345{width:345px;} .span355{width:355px;} .span365{width:365px;} .span375{width:375px;} .span385{width:385px;} .span395{width:395px;}
.span405{width:405px;} .span415{width:415px;} .span425{width:425px;} .span435{width:435px;} .span445{width:445px;} .span455{width:455px;} .span465{width:465px;} .span475{width:475px;} .span485{width:485px;} .span495{width:495px;}
.span505{width:505px;} .span515{width:515px;} .span525{width:525px;} .span535{width:535px;} .span545{width:545px;} .span555{width:555px;} .span565{width:565px;} .span575{width:575px;} .span585{width:585px;} .span595{width:595px;}
.span605{width:605px;} .span615{width:615px;} .span625{width:625px;} .span635{width:635px;} .span645{width:645px;} .span655{width:655px;} .span665{width:665px;} .span675{width:675px;} .span685{width:685px;} .span695{width:695px;}
.span705{width:705px;} .span715{width:715px;} .span725{width:725px;} .span735{width:735px;} .span745{width:745px;} .span755{width:755px;} .span765{width:765px;} .span775{width:775px;} .span785{width:785px;} .span795{width:795px;}
.span805{width:805px;} .span815{width:815px;} .span825{width:825px;} .span835{width:835px;} .span845{width:845px;} .span855{width:855px;} .span865{width:865px;} .span875{width:875px;} .span885{width:885px;} .span895{width:895px;}
.span905{width:905px;} .span915{width:915px;} .span925{width:925px;} .span935{width:935px;} .span945{width:945px;} .span955{width:955px;} .span965{width:965px;} .span975{width:975px;} .span985{width:985px;} .span995{width:995px;}


/*──────────────── font-size ────────────────*/
[class*='fs']{line-height:1.3em;}
.fs12{font-size:12px}.fs13{font-size:13px}.fs14{font-size:14px}.fs15{font-size:15px}.fs16{font-size:16px}.fs17{font-size:17px}.fs18{font-size:18px}.fs19{font-size:19px}.fs20{font-size:20px}
.fs21{font-size:21px}.fs22{font-size:22px}.fs23{font-size:23px}.fs24{font-size:24px}.fs25{font-size:25px}.fs26{font-size:26px}.fs27{font-size:27px}.fs28{font-size:28px}.fs29{font-size:29px}.fs30{font-size:30px}
.fs31{font-size:31px}.fs32{font-size:32px}.fs33{font-size:33px}.fs34{font-size:34px}.fs35{font-size:35px}.fs36{font-size:36px}.fs37{font-size:37px}.fs38{font-size:38px}.fs39{font-size:39px}.fs40{font-size:40px}
.fs41{font-size:41px}.fs42{font-size:42px}.fs43{font-size:43px}.fs44{font-size:44px}.fs45{font-size:45px}.fs46{font-size:46px}.fs47{font-size:47px}.fs48{font-size:48px}.fs49{font-size:49px}.fs50{font-size:50px}
.fs51{font-size:51px}.fs52{font-size:52px}.fs53{font-size:53px}.fs54{font-size:54px}.fs55{font-size:55px}.fs56{font-size:56px}.fs57{font-size:57px}.fs58{font-size:58px}.fs59{font-size:59px}.fs60{font-size:60px}
.fs61{font-size:61px}.fs62{font-size:62px}.fs63{font-size:63px}.fs64{font-size:64px}.fs65{font-size:65px}.fs66{font-size:66px}.fs67{font-size:67px}.fs68{font-size:68px}.fs69{font-size:69px}.fs70{font-size:70px}
.fs71{font-size:71px}.fs72{font-size:72px}.fs73{font-size:73px}.fs74{font-size:74px}.fs75{font-size:75px}.fs76{font-size:77px}.fs76{font-size:77px}.fs78{font-size:78px}.fs79{font-size:79px}.fs80{font-size:80px}
.fs81{font-size:81px}.fs82{font-size:82px}.fs83{font-size:83px}.fs84{font-size:84px}.fs85{font-size:85px}.fs86{font-size:86px}.fs87{font-size:87px}.fs88{font-size:88px}.fs89{font-size:89px}.fs90{font-size:90px}
.fs91{font-size:91px}.fs92{font-size:92px}.fs93{font-size:93px}.fs94{font-size:94px}.fs95{font-size:95px}.fs96{font-size:96px}.fs97{font-size:97px}.fs98{font-size:98px}.fs99{font-size:99px}.fs100{font-size:100px}
.fs110{font-size:110px}.fs120{font-size:120px}.fs130{font-size:130px}.fs140{font-size:140px}.fs150{font-size:150px}



/* common */
b, .bold{font-weight:500;}
i{font-style:normal;}
.normal{font-weight:normal;}
.clear{clear:both;display:block;}
.none{display:none !important;}
.hidden{visibility:hidden !important;}
.noborder{border:none !important;}
.tcenter{text-align:center !important;} .tleft{text-align:left !important;} .tright{text-align:right !important;} .fcenter{margin:0 auto;} .fleft{float:left !important;} .fright{float:right !important;}
.flexCenter{display:flex;align-items:center;justify-content:center;flex-direction:column;}
.flexRow{display:flex;align-items:center;justify-content:center;}
.divCenter{margin-left:auto;margin-right:auto;position:relative;}
.fixed{position:fixed;}

.help-block{color:#8da2a8;line-height:1.3em;display:inline-block;}
.help-block a{color:#8da2a8;text-decoration:underline !important;}
.help-block a:hover{color:#6d8288;}
p.help-block{display:block;}
div.help-block{display:block;}


h1{font-size:40px;font-weight:600;line-height:1.2em;}
h2{font-size:32px;font-weight:600;line-height:1.2em;}
h3{font-size:26px;font-weight:600;line-height:1.2em;}
h4{font-size:19px;font-weight:600;line-height:1.4em;}
h5{font-size:16px;font-weight:600;line-height:1.5em;}
h6{font-size:14px;font-weight:600;line-height:1.6em;}


/*──────────────── Font ────────────────*/
.h10{font-size:10px;} .h11{font-size:11px;} .h12{font-size:12px;} .h13{font-size:13px;} .h14{font-size:14px;} .h15{font-size:15px;} .h16{font-size:16px;} .h17{font-size:17px;} .h18{font-size:18px;} .h19{font-size:19px;} .h20{font-size:20px;}
.h21{font-size:21px;} .h22{font-size:22px;} .h23{font-size:23px;} .h24{font-size:24px;} .h25{font-size:25px;} .h26{font-size:26px;} .h27{font-size:27px;} .h28{font-size:28px;} .h29{font-size:29px;} .h30{font-size:30px;} .h31{font-size:31px;}
.h32{font-size:32px;} .h33{font-size:33px;} .h34{font-size:34px;} .h35{font-size:35px;} .h36{font-size:36px;} .h37{font-size:37px;} .h38{font-size:38px;} .h39{font-size:39px;} .h40{font-size:40px;} .h41{font-size:41px;} .h42{font-size:42px;}
.h43{font-size:43px;} .h44{font-size:44px;} .h45{font-size:45px;} .h46{font-size:46px;} .h47{font-size:47px;} .h48{font-size:48px;} .h49{font-size:49px;} .h50{font-size:50px;}
.h60{font-size:60px;} .h61{font-size:61px;} .h62{font-size:62px;} .h63{font-size:63px;} .h64{font-size:64px;} .h65{font-size:65px;} .h66{font-size:66px;} .h67{font-size:67px;} .h68{font-size:68px;} .h69{font-size:69px;} .h70{font-size:70px;}
.h71{font-size:71px;} .h72{font-size:72px;} .h73{font-size:73px;} .h74{font-size:74px;} .h75{font-size:75px;} .h76{font-size:76px;} .h77{font-size:77px;} .h78{font-size:78px;} .h79{font-size:79px;} .h80{font-size:80px;} .h81{font-size:81px;}
.h82{font-size:82px;} .h83{font-size:83px;} .h84{font-size:84px;} .h85{font-size:85px;} .h86{font-size:86px;} .h87{font-size:87px;} .h88{font-size:88px;} .h89{font-size:89px;} .h90{font-size:90px;} .h91{font-size:91px;} .h92{font-size:92px;}
.h93{font-size:93px;} .h94{font-size:94px;} .h95{font-size:95px;} .h96{font-size:96px;} .h97{font-size:97px;} .h98{font-size:98px;} .h99{font-size:99px;} .h100{font-size:100px;}

.h10, .h11, .h12, .h13, .h14, .h15, .h16, .h17, .h18, .h19, .h20, .h21, .h22, .h23, .h24, .h25, .h26, .h27, .h28, .h29, .h30, .h31, .h32, .h33, .h34, .h35, .h36, .h37, .h38, .h39, .h40, .h41, .h42, .h43, .h44, .h45,
.h46, .h47, .h48, .h49, .h50, .h60, .h61, .h62, .h63, .h64, .h65, .h66, .h67, .h68, .h69, .h70, .h71, .h72, .h73, .h74, .h75, .h76, .h77, .h78, .h79, .h80, .h81, .h82, .h83, .h84, .h85, .h86, .h87, .h88, .h89, .h90,
.h91, .h92, .h93, .h94, .h95, .h96, .h97, .h98, .h99, .h100{line-height:1.3em;}







html,body{font-size:0;}

body{font-family:'NanumSquare', 'Noto Sans KR', sans-serif;color:#3E3E3E;}
img{max-width:100%;}

h1{font-size:50px;font-weight:600;}
h2{font-size:34px;font-weight:600;}
h3{font-size:21px;font-weight:600;}
h4{font-size:19px;font-weight:600;}
h5{font-size:18px;font-weight:normal}
h6{font-size:16px;font-weight:normal}

.mainColor{color:var(--mainColor);}
.color-gray{color:#595959;}
.color-gray2{color:#83919F;}
.color-gray3{color:#6C7A89;}
.color-red{color:#ff3147;}
.color-blue{color:#348dff}
b, .bold{font-weight:600;}
.text-deco{display:inline-block;padding-bottom:5px;border-bottom:3px solid var(--mainColor);}
.bored{border:1px solid red}


.btn{font-family:'NanumSquare', sans-serif;padding:0 25px;height:52px;font-size:19px;font-weight:500;color:#fff;background:#292b33;border-radius:40px;display:inline-flex;align-items:center;justify-content:center;transition:all .2s ease-in-out;}
.btn:hover{background:#0c0c0d}
.btn.light{background:transparent;border:2px solid #fff;}
.btn.light:hover{background:#fff;color:#030504 !important}
.btn.blue{background:#2A62E1;}
.btn.blue:hover{background:#1749ba;}
.btn.red{background:#ff3f3f;}
.btn.red:hover{background:#d31717;}
.btn.green{background:#1bc8a6;}
.btn.green:hover{background:#08b08f;}
.btn.large{height:66px;padding:0 30px;font-size:24px;}


.logo{}
.logo span{}
.logo .code:before{content:'\e90a';font-family:'codeidea';font-size:1em;transition:all .15s ease-in-out;}
.logo .idea:before{content:'\e90b';font-family:'codeidea';font-size:1em;margin-left:0.13em;}
.logo .i:before{content:'\e908';font-family:'codeidea';font-size:1em;margin-left:0.13em;}
.logo .d:before{content:'\e905';font-family:'codeidea';font-size:1em;margin-left:0.1em;}
.logo .e:before{content:'\e907';font-family:'codeidea';font-size:1em;transition:all 0.2s cubic-bezier(0.5,0,0,1.25);animation:ani-rotate 7.5s 2s infinite;animation-direction:normal;display:inline-block;}
.logo .a:before{content:'\e903';font-family:'codeidea';font-size:1em;margin-left:-0.05em;}
@keyframes ani-rotate {
	0% {transform:rotate(0deg);}
	24% {transform:rotate(0deg);}
	25% {transform:rotate(90deg);}
	40% {transform:rotate(90deg);}
	41% {transform:rotate(180deg);}
	70% {transform:rotate(180deg);}
	99% {transform:rotate(180deg);}
	100% {transform:rotate(0deg);}
}